// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-ellipse75-name: 'Ellipse75';
$-ellipse75-x: 490px;
$-ellipse75-y: 200px;
$-ellipse75-offset-x: -490px;
$-ellipse75-offset-y: -200px;
$-ellipse75-width: 55px;
$-ellipse75-height: 55px;
$-ellipse75-total-width: 670px;
$-ellipse75-total-height: 747px;
$-ellipse75-image: 'sprite.png';
$-ellipse75: (490px, 200px, -490px, -200px, 55px, 55px, 670px, 747px, 'sprite.png', 'Ellipse75', );
$-ellipse76-name: 'Ellipse76';
$-ellipse76-x: 565px;
$-ellipse76-y: 200px;
$-ellipse76-offset-x: -565px;
$-ellipse76-offset-y: -200px;
$-ellipse76-width: 55px;
$-ellipse76-height: 55px;
$-ellipse76-total-width: 670px;
$-ellipse76-total-height: 747px;
$-ellipse76-image: 'sprite.png';
$-ellipse76: (565px, 200px, -565px, -200px, 55px, 55px, 670px, 747px, 'sprite.png', 'Ellipse76', );
$-ellipse77-name: 'Ellipse77';
$-ellipse77-x: 490px;
$-ellipse77-y: 275px;
$-ellipse77-offset-x: -490px;
$-ellipse77-offset-y: -275px;
$-ellipse77-width: 55px;
$-ellipse77-height: 55px;
$-ellipse77-total-width: 670px;
$-ellipse77-total-height: 747px;
$-ellipse77-image: 'sprite.png';
$-ellipse77: (490px, 275px, -490px, -275px, 55px, 55px, 670px, 747px, 'sprite.png', 'Ellipse77', );
$-rectangle168-name: 'Rectangle168';
$-rectangle168-x: 0px;
$-rectangle168-y: 0px;
$-rectangle168-offset-x: 0px;
$-rectangle168-offset-y: 0px;
$-rectangle168-width: 470px;
$-rectangle168-height: 747px;
$-rectangle168-total-width: 670px;
$-rectangle168-total-height: 747px;
$-rectangle168-image: 'sprite.png';
$-rectangle168: (0px, 0px, 0px, 0px, 470px, 747px, 670px, 747px, 'sprite.png', 'Rectangle168', );
$apple-touch-icon-name: 'apple-touch-icon';
$apple-touch-icon-x: 490px;
$apple-touch-icon-y: 0px;
$apple-touch-icon-offset-x: -490px;
$apple-touch-icon-offset-y: 0px;
$apple-touch-icon-width: 180px;
$apple-touch-icon-height: 180px;
$apple-touch-icon-total-width: 670px;
$apple-touch-icon-total-height: 747px;
$apple-touch-icon-image: 'sprite.png';
$apple-touch-icon: (490px, 0px, -490px, 0px, 180px, 180px, 670px, 747px, 'sprite.png', 'apple-touch-icon', );
$facebook-hover-name: 'facebook-hover';
$facebook-hover-x: 566px;
$facebook-hover-y: 350px;
$facebook-hover-offset-x: -566px;
$facebook-hover-offset-y: -350px;
$facebook-hover-width: 17px;
$facebook-hover-height: 17px;
$facebook-hover-total-width: 670px;
$facebook-hover-total-height: 747px;
$facebook-hover-image: 'sprite.png';
$facebook-hover: (566px, 350px, -566px, -350px, 17px, 17px, 670px, 747px, 'sprite.png', 'facebook-hover', );
$facebook-name: 'facebook';
$facebook-x: 655px;
$facebook-y: 275px;
$facebook-offset-x: -655px;
$facebook-offset-y: -275px;
$facebook-width: 10px;
$facebook-height: 16px;
$facebook-total-width: 670px;
$facebook-total-height: 747px;
$facebook-image: 'sprite.png';
$facebook: (655px, 275px, -655px, -275px, 10px, 16px, 670px, 747px, 'sprite.png', 'facebook', );
$favicon-16x16-name: 'favicon-16x16';
$favicon-16x16-x: 641px;
$favicon-16x16-y: 350px;
$favicon-16x16-offset-x: -641px;
$favicon-16x16-offset-y: -350px;
$favicon-16x16-width: 16px;
$favicon-16x16-height: 16px;
$favicon-16x16-total-width: 670px;
$favicon-16x16-total-height: 747px;
$favicon-16x16-image: 'sprite.png';
$favicon-16x16: (641px, 350px, -641px, -350px, 16px, 16px, 670px, 747px, 'sprite.png', 'favicon-16x16', );
$favicon-32x32-name: 'favicon-32x32';
$favicon-32x32-x: 565px;
$favicon-32x32-y: 275px;
$favicon-32x32-offset-x: -565px;
$favicon-32x32-offset-y: -275px;
$favicon-32x32-width: 32px;
$favicon-32x32-height: 32px;
$favicon-32x32-total-width: 670px;
$favicon-32x32-total-height: 747px;
$favicon-32x32-image: 'sprite.png';
$favicon-32x32: (565px, 275px, -565px, -275px, 32px, 32px, 670px, 747px, 'sprite.png', 'favicon-32x32', );
$instagram-hover-name: 'instagram-hover';
$instagram-hover-x: 617px;
$instagram-hover-y: 275px;
$instagram-hover-offset-x: -617px;
$instagram-hover-offset-y: -275px;
$instagram-hover-width: 18px;
$instagram-hover-height: 19px;
$instagram-hover-total-width: 670px;
$instagram-hover-total-height: 747px;
$instagram-hover-image: 'sprite.png';
$instagram-hover: (617px, 275px, -617px, -275px, 18px, 19px, 670px, 747px, 'sprite.png', 'instagram-hover', );
$instagram-name: 'instagram';
$instagram-x: 490px;
$instagram-y: 350px;
$instagram-offset-x: -490px;
$instagram-offset-y: -350px;
$instagram-width: 18px;
$instagram-height: 18px;
$instagram-total-width: 670px;
$instagram-total-height: 747px;
$instagram-image: 'sprite.png';
$instagram: (490px, 350px, -490px, -350px, 18px, 18px, 670px, 747px, 'sprite.png', 'instagram', );
$play-icon-name: 'play-icon';
$play-icon-x: 640px;
$play-icon-y: 200px;
$play-icon-offset-x: -640px;
$play-icon-offset-y: -200px;
$play-icon-width: 22px;
$play-icon-height: 28px;
$play-icon-total-width: 670px;
$play-icon-total-height: 747px;
$play-icon-image: 'sprite.png';
$play-icon: (640px, 200px, -640px, -200px, 22px, 28px, 670px, 747px, 'sprite.png', 'play-icon', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 603px;
$twitter-hover-y: 350px;
$twitter-hover-offset-x: -603px;
$twitter-hover-offset-y: -350px;
$twitter-hover-width: 18px;
$twitter-hover-height: 16px;
$twitter-hover-total-width: 670px;
$twitter-hover-total-height: 747px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (603px, 350px, -603px, -350px, 18px, 16px, 670px, 747px, 'sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 528px;
$twitter-y: 350px;
$twitter-offset-x: -528px;
$twitter-offset-y: -350px;
$twitter-width: 18px;
$twitter-height: 18px;
$twitter-total-width: 670px;
$twitter-total-height: 747px;
$twitter-image: 'sprite.png';
$twitter: (528px, 350px, -528px, -350px, 18px, 18px, 670px, 747px, 'sprite.png', 'twitter', );
$spritesheet-width: 670px;
$spritesheet-height: 747px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($-ellipse75, $-ellipse76, $-ellipse77, $-rectangle168, $apple-touch-icon, $facebook-hover, $facebook, $favicon-16x16, $favicon-32x32, $instagram-hover, $instagram, $play-icon, $twitter-hover, $twitter, );
$spritesheet: (670px, 747px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
